@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'League Spartan', sans-serif;
}

.width {
    width: 300px;
    min-height: 50px;
}

.col:nth-child(even) {
    background-color: antiquewhite;
}

.row:nth-child(even){
    background-color: aqua;
}

@media screen and (max-width:968px) {
    .desktop-navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }
}

@media screen and (min-width:968px) {
    .desktop-navbar {
        display: block;
    }

    .mobile-navbar {
        display: none;
    }
}